<h3>Special Price</h3>
<h5>Start Date:<%= @special_price.start_date %></h5>
<h5>End Date: <%= @special_price.end_date %></h5>
<h5>Price: <%= @special_price.price %></h5>
<h5>Room: <%= @special_price.room.name %></h5>