<h5> Hi! <%= @booking.user.username%></h5>
<p>You successfully created the booking </p>
<h5>Booking Details:</h5>
<p>Check in: <%= @booking.start_date %></p>
<p>Check out: <%= @booking.end_date %></p>
<p>Room Name : <%= @booking.room.name %></p>
<p>Wait for the confirmation. </p>

