<h3>Booking confirmation successfully done </h3>
<p>Address Details:</p>
<p>Host Name: <%= @booking.room.user.username %></p>
<p>Room Name: <%= @booking.room.name %></p>
<p>Room address: <%= @booking.room.address %></p>
<p>Mobile: <%= @booking.room.user.mobile %></p>
<p>Thanks for booking.</p>
